body {
    display: flex;
    flex-direction: column;
}


.Inicio { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container img {
    align-self: center;
}

.elemeto {
    padding-left: 80px;
}
