body {
    display: flex;
    flex-direction: column;
}


.Inicio { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news {
 
    padding: 1em;
  }

  menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    gap: 1em;
    display: flex;
    align-items: center;
  }
  